<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Utils</title>
</head>
<body><h1>Welcome to the text analyzer. Enter your text below</h1>
    <!-- <form action='/analyze' method = 'get'> -->
    <form action='/analyze' method = 'get'>
        <textarea name = 'text' style = 'margin : 0px ; width : 721px ; height:93px;'> </textarea><br>
    <input type="checkbox" name="removepunc"> REMOVE PUNCHTUTION <br>
    <input type="checkbox" name = "capital">  CAPITALIZE <br>
    <input type="checkbox" name = "new">  NEW LINE REMOVER <br>
    <input type="checkbox" name = "length"> LENGTH OF TEXT <br>
        <button type = 'submit'> Analyze text</button>
       
    </form>

   
</body>
</html>